@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand-icons {
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
}

.notification-circle {
  position: absolute;
  right: -10px;
  top: -10px;
  border-radius: 50%;
  padding: 0 3px;
  font-size: small;
}
/*Overides*/
.MuiListItemIcon-root {
  min-width: 30px !important;
}

.sidebar-icon{
  color: rgb(245, 68, 97);
}