@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Custom css */
.brand-icons {
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
}
.welcome {
  transform: rotate(-50deg);
  animation: mymove 1s infinite;
}

@keyframes mymove {
  0% {
    transform: rotate(0deg);
    transform-origin: 20% 40%;
  }

  50% {
    transform: rotate(-50deg);
    transform-origin: 20% 40%;
  }
  100%{
    transform: rotate(0deg);
    transform-origin: 20% 40%;

  }
}

/* Tools */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.w-max-screen {
  max-width: 100vw;
}

.notification-circle {
  position: absolute;
  right: -10px;
  top: -10px;
  border-radius: 50%;
  padding: 0 3px;
  font-size: small;
}

/* Overides */
.MuiListItemIcon-root {
  min-width: 30px !important;
}
